swagger: '2.0'
info:
  description: Generate location-based stats and metrics for digital advertising campaigns.
  version: 0.1.0
  title: Reveal Mobile VISIT API
  # put the contact info for your development or API team
  contact:
    email: support@revalmobile.com
host: gateway-service.revealmobile.com
basePath: /
schemes:
  - https
externalDocs:
  description: API Documentation
  url: https://github.com/revealmobile/report-api-documentation/tree/feature/RVL-4792 #todo update
paths:
  /session:
    post:
      summary: Create Session
      operationId: session
      description: |
        Create an api session token. The token will be used in the **Authorization** header of all *GET* requests. The token expires periodically at which time a new session token will need to be generated.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: body
          name: email_address
          description: The email address used as a login for a VISIT Local account.
          schema:
            type: object
            required:
              - email_address
              - password
            properties:
              email_address:
                type: string
              password:
                type: string
      responses:
        201:
          description: A basic response including JWT token and response messages.
          schema:
            properties:
              data:
                description: Results of the report request.
                example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1OTcyMDY1MTQsInByaW5jaXBhbCI6eyJpZCI6MjAwMDI2NTIyMzQ3ODQ0NTU3OSwibmFtZSI6Ikphc29uIENyb2NrZXIiLCJlbWFpbF9hZGRyZXNzIjoiamNyb2NrZXJAcmV2ZWFsbW9iaWxlLmNvbSIsIm9yZ2FuaXphdGlvbiI6MTQ2OTY3MTQ3MDcwNjcyMjQ3NCwiYWRtaW5pc3RyYXRvciI6dHJ1ZSwicm9sZSI6IkFkbWluaXN0cmF0b3IifX0.T3_S03a79Sf0HMjHBtSeb1kcZf9S4LrgZBHGXMoB8l4
              messages:
                type: array
                items:
                  $ref: '#/definitions/Message'
  /report/project/{project_id}/visitor:
    get:
      summary: Visitor Count Report
      operationId: countVisitors
      description: |
        # Get a report of Visitors within a specified date range, to a specified [Project](https://github.com/revealmobile/report-api-documentation/tree/feature/RVL-4792#useful-terminology).

        ### Optional Filters
        * **Repeat Visitors** - Visited Project locations more than 1x in report period.
        * **Target Visitors** - Visited Project location that was situated within a specified proximity of the Visitor's recorded Home or Work location.

        ### Output Formats
        * **Count** - An integer representation of unique Visitors matching the specified criteria.
        * **Percentage** - A double representation a percentage metric indicating the ratio of project visitors within a specified proximity of their Home or Work location to total project Visitors within the report period.
        * **Index** - An double representation of index value comparison in unique Visitors. [Learn more about index values](https://github.com/revealmobile/report-api-documentation/tree/feature/RVL-4792#index-metric-format)
      produces:
        - application/json
      parameters:
        - in: header
          name: Authorization
          required: true
          type: string
          format: JWT
          description: a valid JWT token generated from creating a **Session**
        - in: path
          name: project_id
          description: The id of the advertiser
          type: integer
          format: int64
          required: true
        - in: query
          name: from
          description: The start date of the report. Example - 2020-08-01
          required: true
          type: string
          format: date
        - in: query
          name: to
          description: The end date of the report. Example - 2020-08-30
          required: true
          type: string
          format: date
        - in: query
          name: format
          required: true
          type: string
          enum: [Count, Index, Percentage]
          description: The metric format for the report
        - in: query
          name: repeat
          type: boolean
          default: false
          description: Flag to include only Visitors observed twice in the requested range. Only applies to metric formats *Count* and *Percentage*
        - in: query
          name: distance
          type: integer
          format: int32
          description: Includes visitors within the specified distance (in miles) of a Visitor's Home or Work location.
        - in: query
          name: target
          type: string
          enum: [Home, Work]
      responses:
        200:
          description: A basic response including report data and response messages.
          schema:
            properties:
              data:
                description: Results of the report request.
                example: 11200
              messages:
                type: array
                items:
                  $ref: '#/definitions/Message'
        400:
          description: bad input parameter
  /report/project/{project_id}/competitor:
    get:
      summary: Competitor Report
      operationId: countCompetitors
      description: |
        # Get a report of Visitor counts for Project Competitors.

        Competitor locations are stores sharing the same category as the project,
        that have also been co-visited by project Visitors within the specified report date range.

        ### Output Formats
        * **Count** - An integer representation of the number of Visitors that visited the Project locations and one of the competitors locations within the report timeframe.
        * **Percentage** - A double representation of the ratio of Visitors that visited a competitor location to the total
        Project Visitors in the report timeframe.
        * **Index** - [Learn more about index values](https://github.com/revealmobile/report-api-documentation/tree/feature/RVL-4792#index-metric-format)
      produces:
        - application/json
      parameters:
        - in: header
          name: Authorization
          required: true
          type: string
          format: JWT
          description: a valid JWT token generated from creating a **Session**
        - in: path
          name: project_id
          description: The id of the advertiser
          type: integer
          format: int64
          required: true
        - in: query
          name: from
          description: The start date of the report. Example - 2020-08-01
          required: true
          type: string
          format: date
        - in: query
          name: to
          description: The end date of the report. Example - 2020-08-30
          required: true
          type: string
          format: date
        - in: query
          name: format
          required: true
          type: string
          enum: [Count, Index, Percentage]
          description: The metric format for the report
        - in: query
          name: all
          type: boolean
          default: false
          description: Flag to include competitors in all categories instead of the project category.
        - in: query
          name: limit
          type: integer
          format: int32
          description: The number of top competitors to include in the report.
          default: 5
      responses:
        200:
          description: A basic response including report data and response messages.
          schema:
            properties:
              data:
                description: Results of the report request.
                example: { "Walmart": 11200, "Target": 97000, "Dollar General": 52000}
              messages:
                type: array
                items:
                  $ref: '#/definitions/Message'
        400:
          description: bad input parameter
  /report/campaign/{campaign_id}/conversion:
    get:
      summary: Campaign Conversions
      operationId: countConversions
      description: |
        ## Get the number of conversions for any Campaign Segment up until the most recent date of the Campaign.

        Defaults to counting all conversions for Campaign devices, but can optionally specify a `Pre-Campaign Segment` to filter by.

        If a `Pre-Campaign Segment` is selected, the count is returned for each `Campaign Segment` that is a subset of the selected `Pre-Campaign-Segment`

        [Learn More About Campaign Segments](https://github.com/revealmobile/report-api-documentation/tree/feature/RVL-4792#campaign-segments)

        ## Output Formats
        * **Count**  - integer representation of the number of conversions in the Campaign report period.
        * **Percentage**  - double representation of the ratio of Segment Conversions to the total devices in a campaign.
      produces:
        - application/json
      parameters:
        - in: header
          name: Authorization
          required: true
          type: string
          format: JWT
          description: a valid JWT token generated from creating a **Session**
        - in: path
          name: campaign_id
          description: The id of the advertiser
          type: integer
          format: int64
          required: true
        - in: query
          name: segment
          description: if not provided, defaults to all conversions.
          type: string
          enum: [Customers, Competitors, NeverVisited]
          required: false
        - in: query
          name: format
          type: string
          enum: [Count, Percentage]
          required: false
          default: Count
      responses:
        200:
          description: A basic response including report data and response messages.
          schema:
            properties:
              data:
                description: Results of the report request.
                example:  {"AllConversions":24}
              messages:
                type: array
                items:
                  $ref: '#/definitions/Message'
        400:
          description: bad input parameter
  /report/campaign/{campaign_id}/visitor:
    get:
      summary: Count Campaign Visitors By Location
      operationId: countCampaignVisitorsByLocation
      description: |
        foo bar baz
      produces:
        application/json
      parameters:
        - in: header
          name: Authorization
          required: true
          type: string
          format: JWT
          description: a valid JWT token generated from creating a **Session**
        - in: path
          name: campaign_id
          description: The id of the advertiser
          type: integer
          format: int64
          required: true
        - in: query
          name: place
          type: integer
          format: int64
          #todo update description with reflink for top project endpoint
          description: |
          The place_id corresponding to the top project place.
          The top project place can be found using the top project endpoint.
          required: true
        - in: query
          name: competitor
          type: boolean
          default: false
          description: |
            True: count the visits for the Competitor locations within specified distance of the specified place.
            False: count the visits for the specified place
        - in: query
          name: distance
          type: number
          format: double
          description: the distance in *meters* to filter for competitor locations.
      responses:
        200:
          description: A basic response including report data and response messages.
          schema:
            properties:
              data:
                description: Results of the report request.
                example:  [[9072665,"Walmart Supercenter",{"type":"Point","coordinates":[-78.5349478330311,35.952463795574296]},2710],[9049430,"Walmart Supercenter",{"type":"Point","coordinates":[-78.84283508934658,35.7148721501593]},1451],[8983618,"Walmart",{"type":"Point","coordinates":[-78.4907239301138,35.795908290285674]},814],[8985575,"Walmart Supercenter",{"type":"Point","coordinates":[-78.55539171525368,35.60799593368065]},2128],[9006350,"Walmart Supercenter",{"type":"Point","coordinates":[-78.83469881831681,35.63664964706899]},2021],[9014972,"Walmart Supercenter",{"type":"Point","coordinates":[-78.5650761288888,35.869744967855084]},1691],[8985573,"Walmart Supercenter",{"type":"Point","coordinates":[-78.84620468870752,35.867332336559194]},1589],[8992140,"Walmart Supercenter",{"type":"Point","coordinates":[-78.60753318635764,35.837154154352255]},1335],[8983583,"Walmart",{"type":"Point","coordinates":[-78.70711846595569,35.86236302200236]},853],[9078518,"Walmart Supercenter",{"type":"Point","coordinates":[-78.77773796756105,35.91230103476251]},2255],[5657484,"Walmart Neighborhood Market",{"type":"Point","coordinates":[-78.8694640294097,35.78635121163813]},610],[9006064,"Walmart Supercenter",{"type":"Point","coordinates":[-78.56019277393521,35.800845724949475]},1404],[9035080,"Walmart Supercenter",{"type":"Point","coordinates":[-78.49744070240122,35.6617806434826]},2287],[6637082,"Walmart Neighborhood Market",{"type":"Point","coordinates":[-78.78494227203458,35.80146112716172]},548],[9075595,"Walmart Supercenter",{"type":"Point","coordinates":[-78.78149982131441,35.59454189776349]},2226],[135293,"Walmart Supercenter",{"type":"Point","coordinates":[-78.49744752885023,35.661765330363544]},2276],[8984823,"Walmart Supercenter",{"type":"Point","coordinates":[-78.65944270392075,35.71906966751835]},1704]]
              messages:
                type: array
                items:
                  $ref: '#/definitions/Message'
        400:
          description: bad input parameter


definitions:
  BasicResponse:
    type: object
    required:
      - data
      - messages
    properties:
      data:
        description: Results of the report request.
      messages:
        type: array
        items:
          $ref: '#/definitions/Message'
  Message:
    type: object
    required:
      - context
      - level
      - text
    properties:
      context:
        type: string
        example: "*"
      level:
        type: string
        example: Information
      text:
        type: string
        example: Request Successful