swagger: '2.0'
info:
  description: Generate stats and metrics for mobile advertising campaigns.
  version: 0.1.0
  title: Reveal Mobile VISIT API
  # put the contact info for your development or API team
  contact:
    email: engineering@revalmobile.com
host: gateway-service.revealmobile.com
basePath: /
schemes:
  - https
externalDocs:
  description: API Documentation
  url: https://github.com/revealmobile/report-api-documentation/tree/feature/RVL-4792 #todo update
paths:
  /session:
    post:
      summary: Create Session
      operationId: session
      description: |
        Create an api session token. The token will be used in the **Authorization** header of all *GET* requests. The token expires periodically at which time a new session token will need to be generated.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: body
          name: email_address
          description: The email address used as a login for a VISIT Local account.
          schema:
            type: object
            required:
              - email_address
              - password
            properties:
              email_address:
                type: string
              password:
                type: string
      responses:
        201:
          description: A basic response including JWT token and response messages.
          schema:
            properties:
              data:
                description: Results of the report request.
                example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1OTcyMDY1MTQsInByaW5jaXBhbCI6eyJpZCI6MjAwMDI2NTIyMzQ3ODQ0NTU3OSwibmFtZSI6Ikphc29uIENyb2NrZXIiLCJlbWFpbF9hZGRyZXNzIjoiamNyb2NrZXJAcmV2ZWFsbW9iaWxlLmNvbSIsIm9yZ2FuaXphdGlvbiI6MTQ2OTY3MTQ3MDcwNjcyMjQ3NCwiYWRtaW5pc3RyYXRvciI6dHJ1ZSwicm9sZSI6IkFkbWluaXN0cmF0b3IifX0.T3_S03a79Sf0HMjHBtSeb1kcZf9S4LrgZBHGXMoB8l4
              messages:
                type: array
                items:
                  $ref: '#/definitions/Message'
  /report/project/{project_id}/visitor:
    get:
      summary: Visitor Count Report
      operationId: countVisitors
      description: |
        # Get a report of Visitors within a specified date range, to a specified project.

        ### Optional Filters
        * **Repeat Visitors** - Visited Project locations more than 1x in report period.
        * **Target Visitors** - Visited project location that was situated within a specified proximity of the Visitor's recorded Home or Work location.

        ### Output Formats
        * **Count** - An integer representation of unique Visitors matching the specified criteria.
        * **Percentage** - A double representation a percentage metric indicating the ratio of project visitors within a specified proximity of their Home or Work location to total project Visitors within the report period.
        * **Index** - An double representation of index value comparison in unique Visitors. [Learn more about index values](https://github.com/revealmobile/report-api-documentation/tree/feature/RVL-4792#index-metric-format)
      produces:
        - application/json
      parameters:
        - in: header
          name: Authorization
          type: string
          format: JWT
          description: a valid JWT token generated from creating a **Session**
        - in: path
          name: project_id
          description: The id of the advertiser
          type: integer
          format: int64
          required: true
        - in: query
          name: from
          description: The start date of the report. Example - 2020-08-01
          required: true
          type: string
          format: date
        #          pattern: "YYYY-MM-DD"
        - in: query
          name: to
          description: The end date of the report. Example - 2020-08-30
          required: true
          type: string
          format: date
        #          pattern: "YYYY-MM-DD"
        - in: query
          name: format
          required: true
          type: string
          enum: [Count, Index, Percentage]
          description: The metric format for the report
        - in: query
          name: repeat
          type: boolean
          default: false
          description: Flag to include only Visitors observed twice in the requested range. Only applies to metric formats *Count* and *Percentage*
        - in: query
          name: distance
          type: integer
          format: int32
          description: Includes visitors within the specified distance of a Visitor's Home or Work location.
        - in: query
          name: target
          type: string
          enum: [Home, Work]
      responses:
        200:
          description: A basic response including report data and response messages.
          schema:
            properties:
              data:
                description: Results of the report request.
                example: 11200
              messages:
                type: array
                items:
                  $ref: '#/definitions/Message'
        400:
          description: bad input parameter
  /report/project/{project_id}/competitor:
    get:
      summary: Competitor Report
      operationId: countCompetitors
      description: |
        # Get a report of Visitor counts for Project Competitors.

        Competitor locations are stores sharing the same category as the project,
        that have also been co-visited by project Visitors within the specified report date range.

        ### Output Formats
        * **Count** - An integer representation of the number of Visitors that visited the Project locations and one of the competitors locations within the report timeframe.
        * **Percentage** - A double representation of the ratio of Visitors that visited a competitor location to the total
        Project Visitors in the report timeframe.
        * **Index** - [Learn more about index values](https://github.com/revealmobile/report-api-documentation/tree/feature/RVL-4792#index-metric-format)
      produces:
        - application/json
      parameters:
        - in: header
          name: Authorization
          type: string
          format: JWT
          description: a valid JWT token generated from creating a **Session**
        - in: path
          name: project_id
          description: The id of the advertiser
          type: integer
          format: int64
          required: true
        - in: query
          name: from
          description: The start date of the report. Example - 2020-08-01
          required: true
          type: string
          format: date
          pattern: "YYYY-MM-DD"
        - in: query
          name: to
          description: The end date of the report. Example - 2020-08-30
          required: true
          type: string
          format: date
          pattern: "YYYY-MM-DD"
        - in: query
          name: format
          required: true
          type: string
          enum: [Count, Index, Percentage]
          description: The metric format for the report
        - in: query
          name: all
          type: boolean
          default: false
          description: Flag to include competitors in all categories instead of the project category.
        - in: query
          name: limit
          type: integer
          format: int32
          description: The number of top competitors to include in the report.
          default: 5
      responses:
        200:
          description: A basic response including report data and response messages.
          schema:
            properties:
              data:
                description: Results of the report request.
                example: { "Walmart": 11200, "Target": 97000, "Dollar General": 52000}
              messages:
                type: array
                items:
                  $ref: '#/definitions/Message'
        400:
          description: bad input parameter
definitions:
  BasicResponse:
    type: object
    required:
      - data
      - messages
    properties:
      data:
        description: Results of the report request.
      messages:
        type: array
        items:
          $ref: '#/definitions/Message'
  Message:
    type: object
    required:
      - context
      - level
      - text
    properties:
      context:
        type: string
        example: "*"
      level:
        type: string
        example: Information
      text:
        type: string
        example: Request Successful